
/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 @font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Black'), local('Merriweather-Black'),
        url('../fonts/Merriweather-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
        url('../fonts/Merriweather-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Italic'), local('Merriweather-Italic'),
        url('../fonts/Merriweather-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'),
        url('../fonts/Merriweather-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Bold'), local('Merriweather-Bold'),
        url('../fonts/Merriweather-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Light'), local('Merriweather-Light'),
        url('../fonts/Merriweather-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
        url('../fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: local('Cinzel SemiBold'), local('Cinzel-SemiBold'),
        url('Cinzel-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: local('Cinzel ExtraBold'), local('Cinzel-ExtraBold'),
        url('Cinzel-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: local('Cinzel Medium'), local('Cinzel-Medium'),
        url('Cinzel-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: local('Cinzel Bold'), local('Cinzel-Bold'),
        url('Cinzel-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: local('Cinzel Black'), local('Cinzel-Black'),
        url('Cinzel-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: local('Cinzel Regular'), local('Cinzel-Regular'),
        url('Cinzel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
	font-family: 'Merriweather', 'Garamond';
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

body {
  margin: 0px;
  display: block;
}

header {
	background-color: #006971;
	display: flex;
  gap: 10px;
  padding: 10px;
}

main {
	margin: 8px;
}

section > h2, section > h1 {
  color: #006971;
}

.set-off-container {
  background-color: #CDE7EB;
  border-radius: 20px;
  padding: 10px;

  & > form > .high-emphasis-button {
    color: #ffffff;
    background-color: #006971;
  }

  & > form > .medium-emphasis-button {
    background-color: transparent;
  }
}
/*----------------Buttons--------------*/
a, 
button,  
[type="submit"],
[type="reset"]{
  margin: 20px;
  padding: 25px 150px;
  border-radius: 100px;
  text-decoration: none;
  text-align: center;
  border: none;
}


.sized-button {
  max-width: 500px;
}

.high-emphasis-button {
  background-color: #FFA62B;
  color: #006971;
}

.emphasis-button {
  background-color: #006971;
  color: #ffffff;
}

.medium-emphasis-button {
  border: 1px solid #006971;
  color: #006971;
  background-color: #ffffff;
}

.secondary-button {
    color: #7D7D7D;
}

.secondary-emphasis-button {
  color: #ffffff;
  background-color: #4A6366;
}

.button-container {
  display: flex;
}

.setting-button-container {
  display: flex;
  flex-direction: row;
  justify-content: right;

  & > a, button {
    margin: 5px;
    display: flex;
    padding: 15px 40px;
    font-size: 16px;
  }
}
/*------------------------------*/

.form-input {
  display: flex;
  margin: 0px 20px;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > a {
    border: 1px solid #dadada;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
}

.campaign-card {
  background-color: #CDE7EB;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px 80px;
  flex-wrap: wrap;
}

.campaign-card-container {
  display: flex;
  flex-wrap: wrap;
}

.full-length {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

section {
  display: flex;
  flex-direction: column;
}



li {
  max-width: fit-content;
}

.low-emphasis-button {
  color: #006971;
  padding: 0px 133px;
  border-radius: 0px;
  text-decoration: underline;
}

figure {
	margin: 0;
}
/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 300px;
  max-height: 300px;
}

header > figure > a >  img {
  max-width: 75px;
  max-height: 75px;
}

.big-image {
  max-width: 550px;
  max-height: 550px;
}

header > figure > a {
  margin: 0px;
  padding: 5px;
  border-radius: 0px;
  text-decoration: none;
  display: inline;
}

header > * {
  color: #ffffff;
}

nav > a {
  margin: 0px;
  padding: 20px;
  border-radius: 20px;
  text-decoration: none;
  display: inline;
  color: #ffffff;
  display: flex;
  align-items: center;
}



.underline {
  text-decoration: underline;
}

nav {
  display: flex;
  gap: 5px;
}

h2 {
  border-color: #ffffff;
  border-width: 1px;
}

.small-heading {
  font-family: 'Garamond';
  font-size: 24px;
}



/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/*Calendar
body {
	font-family: Arial, sans-serif;
	background-color: white;
	margin: 0;
}

.wrapper {
	max-width: 1100px;
	margin: 15px auto;
}
